//colors
$colors:(
  bg-color:rgb(22, 20, 20),
  accent-color:#c27633,
  primary-color:#76B6DC,
  font-color:#979494,
);
$font-sizes:(
  font-size-xs:14px,
  font-size-sm:20px,
  font-size-md:24px,
  font-size-lg:28px,
  font-size-xl:30px
);
//break points

$break-points:(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
)